:root {
    --lime-green-color: hsl(163, 72%, 41%);
    --bright-red-color: hsl(356, 69%, 56%);

    --color-1: hsl(230, 17%, 14%);
    --color-2: hsl(232, 19%, 15%);
    --color-3: hsl(228, 28%, 20%);
    --color-4: hsl(228, 34%, 66%);
    --color-5: hsl(0, 0%, 100%);

    /* prettier-ignore */
    --toggle-bg-color: linear-gradient(to right,hsl(210, 78%, 56%),hsl(146, 68%, 55%));
    --header-border-color: hsla(228, 25%, 27%, 1);
    --header-color: hsla(230, 20%, 15%, 1);
    --hover-color: hsla(228, 25%, 27%, 1);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-1);
    transition: background-color 0.15s ease-in-out;
}
